nvim/.config/nvim/nvim-pack-lock.json
tmux/.tmux/plugins/

*.o
*.orig
*.rej
*.1
programs/dwm/dwm
programs/st/st
programs/slock/slock
gtk-gruv/
no-track/

systemd/.config/systemd/user/default.target.wants/snap.snapd-desktop-integration.snapd-desktop-integration.service
